{% extends "base.html" %}
{% block title %}Graph and Control Panel{% endblock %}

{% block content %}
<div class="container">
  <div class="input-section">
    <h2>Control Panel</h2>
    <form class="vertical-form">
      <label for="cycleName">Cycle Name (optional):</label>
      <div class="checkbox-container">
        <label class="checkbox-wrapper">
          <input type="checkbox" id="peltierCheckbox">
          <span class="checkbox-label">Enable Peltier Elements</span>
        </label>
      </div>
      <input type="text" id="cycleName" name="cycleName" placeholder="Enter custom cycle name">
      <button type="button" id="StartCycle">Start cycle</button>
      <div id="sensorList" class="sensor-list">
        <!-- Sensors will be populated here dynamically -->
      </div>
    </form>
  </div>

  <div class="graph-section">
    <canvas id="newGraph"></canvas>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/vendor/chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/chartjs-plugin-annotation.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/display-graph.js') }}" type="module"></script>
{% endblock %}

